@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #10b981;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.withLine {
  position: relative;
}

.withLine::after {
  content: '';
  width: 60%;
  height: 3px;
  background-color: var(--green);
  position: absolute;
  bottom: -5px;
}

.withLine.left::after {
  content: '';
  left: 0;
}

.withLine.right::after {
  content: '';
  right: 0;
}
