@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/oswald-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/oswald-bold.woff2) format('woff2');
}

:root {
  --green: #10b981;
  --white: #ffffff;
  --black: #000000;
  --red: #b91026;
  --dark: #111827;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: rgb(17, 24, 39);
  overflow-x: hidden;
}

main {
  transition: 0.3s;
}

.withLine {
  position: relative;
}

.withLine::after {
  content: '';
  width: 60%;
  height: 3px;
  background-color: var(--green);
  position: absolute;
  bottom: -7px;
}

.withLine.left::after {
  content: '';
  left: 0;
}

.withLine.right::after {
  content: '';
  right: 0;
}

.vertical-timeline * {
  transition-duration: 1s !important;
}

/* custom animations */
[data-aos='custom-fade-down'] {
  opacity: 0;
  transform: translateY(-30px);
  transition-property: transform, opacity;
}

[data-aos='custom-fade-down'].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 480px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }

  .Toastify__toast-container--bottom-center {
    top: unset;
    bottom: 70px !important;
  }
}
