.button {
  background-color: transparent;
  background-image: linear-gradient(135deg, var(--green) 50%, transparent 50%);
  background-position: 100%;
  background-size: 250%;
  min-width: 100px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px 0 transparent;
  transition: opacity 0.5s ease-in-out;
}

.button.disabled {
  opacity: 0.7;
}

.button:hover,
.button:focus {
  background-position: 0;
  box-shadow: 0 0 15px 0 var(--green);
  border-color: var(--white);
}
